<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}

    <title>{{ app_name }}{% if title is defined %} - {{ title }}{% endif %}</title>


    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/simplemde.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/highlightjs.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <script src="{{ asset('js/bootstrap.min.js') }}" defer></script>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    {% include 'base/navbar.html.twig' %}
</div>

<div class="container">
    {% include 'base/header.html.twig' %}

    {% include 'base/flash.html.twig' %}

    {% block body %}{% endblock %}

    <script src="{{ asset('js/simplemde.min.js') }}"></script>
    <script src="{{ asset('js/highlightjs.min.js') }}"></script>
    <script src="{{ asset('js/highlightjs-line-number.min.js') }}"></script>

    {% block js %}{% endblock %}
</div>
</body>
</html>
