{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ article.description }}">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:description" content="{{ article.description }}">

    <!-- Twitter meta tags -->
    <meta name="twitter:title" content="{{ article.title }}">
    <meta name="twitter:description" content="{{ article.description }}">
{% endblock %}

{% block body %}
    <div>Créé le {{ article.createdAt|date('d/m/Y') }}</div>
    {% if article.lastUpdatedAt %}
        <div>Mis à jour le {{ article.lastUpdatedAt|date('d/m/Y') }}</div>
    {% endif %}

    Catégorie : {{ article.category.name }}

    <hr>

    {% if canDelete or canEdit %}
        <div class="row">
            <div class="col-12 text-end">
                {% if canDelete %}
                    <a class="btn btn-danger" href="{{ path('delete_article', {'id': article.id}) }}">Delete</a>
                {% endif %}
                {% if canEdit %}
                    <a class="btn btn-secondary" href="{{ path('edit_article', {'id': article.id}) }}">Edit</a>
                {% endif %}
            </div>
        </div>

        <hr>
    {% endif %}

    <div class="article-content" id="article-content">{{ article.content|markdown_to_html }}</div>
{% endblock %}

{% block js %}
    <script>
        hljs.highlightAll();
        hljs.initLineNumbersOnLoad();
    </script>
{% endblock %}